<div class="jumbotron text-center">
  <h1 class="display-3">RECIPE BOOK</h1>
  <p class="lead">Welcome to recipe book MEAN application</p>
  <div class="btn btn-primary mr-2 btn-lg" routerLink="/recipes">Go To Recipes</div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Express Backend</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam consequuntur nam, quaerat.</p>
  </div>
  <div class="col-md-4">
    <h4>Angular CLI</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam consequuntur nam, quaerat.</p>
  </div>
  <div class="col-md-4">
    <h4>MongoDB</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam consequuntur nam, quaerat.</p>
  </div>
</div>
